.numero-div {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px;
}